<div class="container">
  <div class="columns">
    <div class="column">
      <% @spots.each do |spot| %>
        <article class="media">
          <figure class="media-left">
            <div class="image is-64x64">
              <%= image_tag 'heiligenhafen-64x64.png' %>
            </div>
          </figure>
          <div class="media-content">
            <div class="content">
              <div>
                <strong> <%= link_to spot.name, spot_path(spot) %></strong>
              </div>
              <% unless spot.windfinder.blank? %>
                <small>Windfinder: <%= spot.windfinder %></small>
              <% end %>
            </div>
          </div>
          <div class="media-right">
            <%= link_to "Destroy", spot_path(spot),
                  method: :delete,
                  data: { confirm: "Sicher?" }, :class => 'delete' %>
          </div>
        </article>
      <% end %>
    </div>
    <div class="column is-one-third">
      <h2 class="subtitle has-text-weight-bold">Spot bearbeiten</h2>
      <%= form_with model: @spot do |form| %>
        <div class="field">
          <div class="control">
            <%= form.text_field :name, :class => 'input', :placeholder => "Name", :required => true %>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <%= form.text_field :windfinder, :class => 'input', :placeholder => "Windfinder", :required => true %>
          </div>
        </div>
        <div class="field">
          <div class="control buttons is-right">
            <%= form.submit 'Aktualisieren', :class => 'button is-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
