<div class="container">
  <div class="columns">
    <div class="column">
      <% @sessions.each do |session| %>
        <article class="media notification is-info">
          <figure class="media-left">
            <span class="icon is-medium">
              <i class="fab fa-2x fa-css3-alt"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h3 class="subtitle"><%= session.day.strftime("%A, %e. %m. %Y") %>, <%= session.spot.name %></h3>
              <div class="columns">
                <div class="column is-three-fifths">
                  <p>Surfer: Ralf, Astrid, Kalle</p>
                </div>
                <div class="column" style="text-align:right;">
                  <a>Join Session...</a>
                </div>
              </div>
            </div>
          </div>
        </article>
      <% end %>
    </div>
    <div class="column is-one-third">
      <%= form_with model: @session do |form| %>
        <div class="field">
          <label class="label">Neue Session einstellen</label>
          <div class="select">
            <%= form.collection_select :spot_id, @spots, :id, :name %>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <%= form.date_field :day, :class => 'input' %>
          </div>
        </div>
          <%= form.submit 'Go, Wing It!', :class => 'button is-secondary' %>
      <% end %>
    </div>
  </div>
</div>
