<div class="container">
  <div data-controller="infinite-scroll">
    <div class="columns">
      <div class="column">
        <div data-infinite-scroll-target="entries">
          <%= render "sessions" %>
        </div>
      </div>
      <div class="column is-one-third">
        <% if current_user %>
          <h2 class="subtitle has-text-weight-bold">Neue Session</h2>
          <%= form_with model: @session do |form| %>
            <div class="field">
              <div class="control">
                <div class="select">
                  <%= form.collection_select :spot_id, @spots, :id, :name %>
                </div>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input type="text" name="spotname" class="input" placeholder="oder Spot neu anlegen">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <%= form.date_field :day, :class => 'input' %>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label class="radio">
                  <input type="radio" value="private" name="visibility">
                  Privat
                </label>
                <label class="radio">
                  <input type="radio" value="friends" name="visibility">
                  Freunde
                </label>
                <label class="radio">
                  <input type="radio" value="public" name="visibility" checked>
                  Öffentlich
                </label>
              </div>
            </div>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <div class="select">
                  <%= form.select :city, %w[vormittags nachmittags abends] %>
                </div>
              </div>
              <div class="control">
                <%= form.submit 'Wing It!', :class => 'button is-primary' %>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="tabs">
            <ul>
              <li class="is-active"><a id="loginLink">Einloggen</a></li>
              <li><a id="registerLink">Registrieren</a></li>
            </ul>
          </div>
          <div id="loginForm">
            <%= form_with model: @user do |form| %>
              <div class="field">
                <div class="control">
                  <%= form.text_field :name, :class => 'input', :placeholder => 'Dein Name', :autofocus => true, :required => true %>
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <%= form.password_field :password, :class => 'input', :placeholder => 'Passwort', :autofocus => false, :required => true %>
                </div>
              </div>
              <div class="field">
                <div class="control buttons is-right">
                  <%= form.submit 'Wing It!', :class => 'button is-primary' %>
                </div>
              </div>
            <% end %>
          </div>
          <div style="display:none" id="registerForm">
            <%= form_with model: @user, url: sign_up_path do |form| %>
              <div class="field">
                <div class="control">
                  <%= form.text_field :name, :id => 'user_name_registration', :class => 'input', :placeholder => 'Name', :autofocus => true, :required => true %>
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <%= form.password_field :password, :class => 'input', :placeholder => 'Passwort', :autofocus => false, :required => true %>
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <%= form.password_field :password_confirmation, :class => 'input', :placeholder => 'Passwort wiederholen', :autofocus => false, :required => true %>
                </div>
              </div>
              <div class="field">
                <div class="control buttons is-right">
                  <%= form.submit 'Wing It!', :class => 'button is-primary' %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div data-infinite-scroll-target="pagination">
      <%= pagy_bulma_nav(@pagy).html_safe %>
    </div>
  </div>
</div>