<div class="container">
  <div class="columns">
    <div class="column">
      <% @sessions.each do |session| %>
        <article class="media notification is-info">
          <figure class="media-left">
            <span class="icon is-medium">
              <i class="fab fa-2x fa-css3-alt"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h3 class="subtitle"><%= session.day.strftime("%A, %e. %m. %Y") %>, <%= session.spot.name %></h3>
              <div class="columns">
                <div class="column is-three-fifths">
                  <p>Surfer: Ralf, Astrid, Kalle</p>
                </div>
                <div class="column" style="text-align:right;">
                  <a>Join Session...</a>
                </div>
              </div>
            </div>
          </div>
        </article>
      <% end %>
    </div>
    <div class="column is-one-third">
      <h2 class="subtitle has-text-weight-bold">Neue Session</h2>
      <%= form_with model: @session do |form| %>
        <div class="field has-addons">
          <div class="control">
            <div class="select">
              <%= form.collection_select :spot_id, @spots, :id, :name %>
            </div>
          </div>
          <div class="control">
            <input type="text" class="input" placeholder="Neuer Spot">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <%= form.date_field :day, :class => 'input' %>
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control is-expanded">
            <div class="select">
              <%= form.select :city, ["vormittags", "nachmittags", "abends"] %>
            </div>
          </div>
          <div class="control">
            <button type="button" class="button is-primary">Wing It!</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
