<div class="container">
  <div class="columns">
    <div class="column">
      <% @sessions.each do |session| %>
        <article class="media">
          <figure class="media-left">
            <div class="image is-64x64">
              <%= image_tag 'heiligenhafen-64x64.png' %>
            </div>
          </figure>
          <div class="media-content">
            <div class="content">
              <div><strong><%= session.spot.name %></strong> <small>@ralf</small> <small><time datetime="2018-03-15T14:35"><%= session.day.strftime("%A, %e.%m.%Y") %></time></small></div>
              <p>Surfer: Ralf, Astrid, Kalle</p>
            </div>
            <div><small><a href="#0">Join</a> &middot; <a href="https://www.windfinder.com/weatherforecast/heiligenhafen" target="_blank">Windfinder</a></small></div>
          </div>
          <div class="media-right">
            <button class="delete"></button>
          </div>
        </article>
      <% end %>
    </div>
    <div class="column is-one-third">
      <h2 class="subtitle has-text-weight-bold">Neue Session</h2>
      <%= form_with model: @session do |form| %>
        <div class="field has-addons">
          <div class="control">
            <div class="select">
              <%= form.collection_select :spot_id, @spots, :id, :name %>
            </div>
          </div>
          <div class="control">
            <input type="text" class="input" placeholder="Neuer Spot">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <%= form.date_field :day, :class => 'input' %>
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control is-expanded">
            <div class="select">
              <%= form.select :city, ["vormittags", "nachmittags", "abends"] %>
            </div>
          </div>
          <div class="control">
            <%= form.submit 'Wing It!', :class => 'button is-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
