<div class="container">
  <div class="columns">
    <div class="column">
      <% @sessions.each do |session| %>
        <article class="media">
          <figure class="media-left">
            <div class="image is-64x64">
              <%= image_tag 'wingbuddies-white.png' %>
            </div>
          </figure>
          <div class="media-content">
            <div class="content">
              <div><strong><%= session.spot.name %></strong> <small>@<%= session.user.name %></small> <small><time datetime="2018-03-15T14:35"><%= session.day.strftime("%A, %e.%m.%Y") %></time></small></div>
              <small>Joined by: <%= joined_by(session) %></small>
            </div>
            <div>
              <small>
                <% if joinable?(session) %>
                  <%= link_to 'Join', join_path(session) %> &middot; 
                <% end %>
                <a href="https://www.windfinder.com/weatherforecast/heiligenhafen" target="_blank">Windfinder</a>
              </small>
            </div>
          </div>
          <% if owner?(session) %>
            <div class="media-right">
              <%= link_to "Destroy", session_path(session),
                  method: :delete,
                  data: { confirm: "Sicher?" }, :class => 'delete' %>
            </div>
          <% end %>
        </article>
      <% end %>
    </div>
    <div class="column is-one-third">
      <% if current_user %>
        <h2 class="subtitle has-text-weight-bold">Neue Session</h2>
        <%= form_with model: @session do |form| %>
          <div class="field has-addons">
            <div class="control">
              <div class="select">
                <%= form.collection_select :spot_id, @spots, :id, :name %>
              </div>
            </div>
            <div class="control">
              <input type="text" class="input" placeholder="Neuer Spot">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <%= form.date_field :day, :class => 'input' %>
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control is-expanded">
              <div class="select">
                <%= form.select :city, ["vormittags", "nachmittags", "abends"] %>
              </div>
            </div>
            <div class="control">
              <%= form.submit 'Wing It!', :class => 'button is-primary' %>
            </div>
          </div>
        <% end %>
      <% else %>
        <h2 class="subtitle has-text-weight-bold">Melde Dich an</h2>
        <%= form_with model: @user do |form| %>
          <div class="field">
            <div class="control">
              <%= form.text_field :name, :class => 'input', :placeholder => 'Dein Nickname', :autofocus => true, :required => true %>
            </div>
          </div>
          <div class="field">
            <div class="control buttons is-right">
              <%= form.submit 'Wing It!', :class => 'button is-primary' %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
