<div class="container">
  <div class="columns">
    <div class="column">
      <h2 class="title is-5">My Friends (<%= current_user.name %>)</h2>
      <% for friendship in current_user.friendships %>
          <strong><%= friendship.friend.name %></strong>
           <%= link_to "remove", friendship, :method => :delete %>
          <div class="clear"></div>
      <% end %>

    </div>
    <div class="column is-one-third">
          <h2 class="title is-5">Add new Friends</h2>
      <% for user in @users %>
        <p>
          <strong><%=h user.name %></strong>
          <%= link_to "Add", friendships_path(:friend_id => user), :method => :post %>
        </p>
      <% end %>

    </div>
  </div>
</div>
