<!DOCTYPE html>
<html>
  <head>
    <title>Wingbuddies</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <section class="hero is-small is-info">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Wingbuddies.de</h1>
          <h2 class="subtitle">
            Wingbuddies ist eine interaktive Plattform für Wingsurfer. Wingsurfer lernen 
            sich kennen, tauschen sich aus und verabreden gemeinsame Sessions. Mit 
            dem Sessionplaner kannst Du private, öffentliche oder nur Deinem Freundeskreis 
            sichtbare Sessions planen. 
          </h2>
        </div>
      </div>
      <div class="hero-foot">
        <nav class="tabs is-centered">
          <div class="container">
            <ul>
              <% if current_user %>
                <li><%= link_to "Sessions", sessions_path, :class => active_menu('sessions') %></li>
                <li><%= link_to "Spots", spots_path, :class => active_menu('spots') %></li>
                <li><%= link_to "Friends", friendships_path, :class => active_menu('friendships') %></li>
                <li><%= link_to "Contact", contact_path, :class => active_menu('contact') %></li>
                <li><%= link_to "Logout", logout_path %></li>
              <% else %>
                <li><%= link_to "Sessions", sessions_path %></li>
                <li><%= link_to "Contact", contact_path, :class => active_menu('contact') %></li>
              <% end %>
            </ul>
          </div>
        </nav>
      </div>
    </section>
    <% unless flash.empty? %>
    <div class="notification is-warning mb-0">
      <button class="delete"></button>
      <% flash.each do |type, msg| %>
        <%= msg %>
      <% end %>
    </div>
    <% end %>
    <section class="section has-background-light">
      <%= yield %>
    </section>
  </body>
</html>
