<!DOCTYPE html>
<html>
  <head>
    <title>Wingbuddies</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Wingbuddies.de</h1>
          <h2 class="subtitle">
            Wingbuddies ist eine interaktive Plattform für Wingsurfer. Wingsurfer lernen 
            sich kennen, tauschen sich aus und verabreden gemeinsame Sessions. Mit 
            dem Sessionplaner kannst Du private, öffentliche oder nur Deinem Freundeskreis 
            sichtbare Sessions planen. 
          </h2>
        </div>
      </div>
    </section>
    <section class="section has-background-light">
      <%= yield %>
    </section>
  </body>
</html>
